version: '3'

services:
  swarmplanner_web:
    image: ghcr.io/unl-nimbus-lab/swarmplanner/swarmplannerreact
    container_name: swarmplanner_web
    network_mode: host
 
  swarmplanner_python:
    image: ghcr.io/unl-nimbus-lab/swarmplanner/swarmplannerpython
    container_name: swarmplanner_python
    stdin_open: true # docker run -i
    tty: true        # docker
    network_mode: host
    volumes:
      - ../uav_simulator:/home/uav_simulator
      - /usr/bin/docker:/usr/bin/docker
#      - /usr/bin/docker-compose:/usr/bin/docker-compose
#      - /var/run/docker.sock:/var/run/docker.sock
