.connection-manager-component {
    display: flex;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px 0 0;
    align-items: center;
}

.connection-drop-box {
    width: 200px;
    min-width: 150px;
    height: 35px;
    border: none;
    background-color: rgb(216, 216, 216);
    border-radius: 7px;
    margin-left: 3px;
}
