/* Default style for the marker wrapper */
.marker-wrapper {
    position: relative;
    display: inline-block;
  }
  
  /* Hover style for the marker wrapper */
  .marker-wrapper.hovered {
    /* Add any styles for the hover effect of the wrapper */
  }
  
  /* Default style for the icon in MarkerF */
  .marker-wrapper .icon {
    width: 32px; /* Adjust the width and height as needed */
    height: 32px;
    background-image: url('../resources/images/DroppedPin.svg'); /* Set your default icon image */
    background-size: cover; /* Adjust as needed */
    transition: background-image 0.3s ease-in-out; /* Transition effect for the icon */
  }
  
  /* Hover style for the icon in MarkerF */
  .marker-wrapper.hovered .icon {
    background-image: url('../resources/images/Simple_drone.svg'); /* Set your hover icon image */
    width: 100px;
    /* Add any other styles for the hover effect of the icon */
  }
  