.BodyAgentView {
    background-color: hsl(0, 0%, 89%);
    display: flex;
    flex-direction: column;
    flex:1;
    box-shadow: -10px 0 5px hsl(0, 0%, 89%);
    
}

.Body {
    display: flex;
}

.BodyMap {
    flex:1;
    background-color: lightblue;
    padding: 5px;
}