.center{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.center-text{
    display:flex;
    align-items: center;
    justify-content: center;
}

.center-input{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.HRLSeparate {
    display:flex;
    flex-direction: column;
    border-style: solid;
    align-items: center;
    border-color: gray;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px 0 0 0;
    padding: 5px;
}

.pain {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.AgentStatusCard-Slider {
    flex:1
}

.ConnectIcon {
    margin-left: 5px
}