

.header {
    display: flex;
    background-color: lightsalmon;
    position: fixed;
    height: 60px;
    top: 0px;
    left: 0px;
    right: 0px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.logo {
    height: 30px;
    display: flex;
    background-color: lightgreen;
    padding: 0 10px 0 10px;
    width: 335px;
}

.tabs {
    display: flex;
    background-color: lightblue;
    flex: 1;
    justify-content: left;
}

.connection {
    display: flex;
    background-color: lightyellow;
    padding: 0 10px 0 10px;
}

.SwarmOverviewTab {
    height: 60px;
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}


.ClusterControlTab {
    height: 60px;
    background-color: lightpink;
    cursor: pointer;
}

.SwarmConfigTab {
    height: 60px;
    background-color: lightyellow;
    cursor: pointer;
}

.ParameterManagerTab {
    height: 60px;
    background-color: lightcoral;
    cursor: pointer;
}
